<table class="table">
    <thead>
        <tr>
            <th ng-repeat="column in $ctrl.columns track by $index">
                {{column[1]}}
            </th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="item in $ctrl.data track by item._id">
            <td ng-repeat="column in $ctrl.columns track by $index">
                <a ng-if="$index === 0"
                    href="./{{$ctrl.type}}/{{item._id}}/">{{item[column[0]]}}</a>
                <span ng-if="$index !== 0">{{item[column[0]]}}</span>
            </td>
        </tr>
    </tbody>
    <tfoot ng-if="$ctrl.paginate">
        <tr>
            <td colspan="{{$ctrl.columns.length}}">
                <pagination size="$ctrl.paginate" data="$ctrl.data"></pagination>
            </td>
        </tr>
    </tfoot>
</table>
<!-- <pre>{{$ctrl.data | json}}</pre> -->
