<div>
    <pagination ng-if="$ctrl.paginate"
        size="$ctrl.paginate" data="$ctrl.data"></pagination>

    <div class="row">
      <div class="col-sm-6 col-md-4" ng-repeat="item in $ctrl.data track by item._id">
        <div class="thumbnail">
            <img class="img-responsive" ng-src="{{item.url}}"/>
            <div class="caption">
              <h2 ng-if="item.firstName || item.lastName">
                  {{ item.firstName }} {{ item.lastName }}</h2>
              <h3 ng-if="item.name">
                  <a href="./album/{{ item._id }}/">{{ item.name }}</a>
              </h3>

              <dl class="extra-info">
                  <dt ng-if="item.firstName || item.lastName">Name</dt>
                  <dd ng-if="item.firstName || item.lastName">
                      {{ item.firstName }} {{ item.lastName }}
                  </dd>

                  <dt ng-if="item.birthdate">Birthday</dt>
                  <dd ng-if="item.birthdate">{{ item.birthdate }}</dd>

                  <dt ng-if="item.instrument">Instrument</dt>
                  <dd ng-if="item.instrument">{{ item.instrument }}</dd>

                  <dt ng-if="item.releaseDate">Release Date</dt>
                  <dd ng-if="item.releaseDate">{{ item.releaseDate }}</dd>
              </dl>
            </div>
        </div>
      </div>
    </div>
</div>

<!-- <pre>{{$ctrl.data | json}}</pre> -->
